<div class="jumbotron>" 
  <h3>Add Podcast<h3>
  <form method="post" action="/admin/podcast/add">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description"rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="category">
        {{#each categories}}
          <option value={{_id}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label>Cover</label>
      <input type="text" class="form-control" name="cover" placeholder="Cover Image">
    </div>
    <div class="form-group">
      <label>Website</label>
      <input type="text" class="form-control" name="website" placeholder="Website">
    </div>
    <div class="form-group">
      <label>Featured</label>
      <select class="form-control" name="featured">
        <option value=true>Yes</option>
        <option selected value=false>No</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>