<a class="btn btn-success btn-default" href='/admin/add'>Add Podcast</a>
<br />
<h3> Podcast List</h3>
<table class="table table-bordered">
  <tr> 
    <th>Id</th> 
    <th>Name</th> 
    <th>Category</th>
    <th>Cover</th>
    <th>Featured</th>   
  </tr> 
  <tr>
   <td>1235</td> 
   <td>Java Air</td>
   <td>Programming</td>
   <td>img.jpg</td>
   <td>false</td> 
  </tr> 
</table>