<a class="btn btn-success btn-default" href='/admin/category/add'>Add Category</a>
<br />

<h3>Category List</h3>
<table class="table table-bordered">
  <tr> 
    <th>Id</th> 
    <th>Name</th> 
    <th>Icon</th>   
  </tr> 
  <tr>
   <td>123556</td> 
   <td>Technology</td>
   <td>glyphicon-tech</td> 
  </tr> 
</table>